@font-face {
  font-family: ZrnicRg;
  src: url(../fonts/zrnic_rg.woff);
}

p {
  font-family: ZrnicRg;
}

h1,h2,h3,h4,h5,h6 {
  font-family: ZrnicRg;
  color :white;
}

section p {
  font-size: 1.2em;
  line-height: 1em;
  color: white;
}

section h1 {
  font-size: 3em;
  line-height: 0.9em;
}

section h2 {
  font-size: 2em;
  line-height: 1em;
}

.orange {
  color: #F69438;
}

.button-container {
  width: 100%;
  z-index: 1 !important; 
  position: absolute; 
  top: 80%;
}

.button-container div {
  width: 50%;
  margin: 0 auto;
}

.button-container .button {
  display: inline-block;
  width: 40%;
  color: white
}

@media screen and (max-width: 768px) {
    .button-container div {
      width: 100%;
    }

    .button-container .button {
      width: 100%;
      margin:0;
    }
}

.brochure {
  background-color: #7EA8E1;
}

.contacto {
  background-color: #B9744D;
}

#section2 {
  color: white;
  background-image: url(../images/Belmonte/fondo-seccion2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/* 
#carousel .active {
  -ms-transform: scale(1.5); IE 9
  -webkit-transform: scale(1.5); Chrome, Safari, Opera
  transform: scale(1.5);
} */

/* Tabs apartamentos */

.nav-tabs li{
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  border: 1px solid white;
}

.tab-link {
  color: white !important;
  /*border: none !important;*/
}

.nav-tabs li a {
  background: transparent !important;
  color: white;
  font-family: ZrnicRg;
  font-size: 3em;
}

.nav-tabs > li > a:hover{
  color: white;
}

.nav-tabs > li > a{
  border: none !important;
}

.nav-tabs > li.active > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white !important;
  border-bottom: orange 5px solid !important;
}

.pane-container {
  background-color: white!important;
  width: 100% !important;
}

.pane-container * {
  color: black;
}

#apartamentos-selector{
  font-family: ZrnicRg;
}

#apartamentos-selector > li.active > a {
  color:orange !important;
  /*color: black !important;*/
  border-bottom: none!important;
}

/*#apartamentos-selector > li.active {
  border-bottom: orange 3px solid !important;

}*/

#apartamentos-selector {
  color: black !important;
  border-bottom: none !important;
}

#apartamentos-selector li:first-child {
  background-color: black;
  font-size: 2rem;
}

#apartamentos-selector > li:first-child a {
  color: white;
}

#apartamentos-selector li {
  color: black;
  border: 2px solid black;
  
}

#apartamentos-selector > li a {
  background:transparent;
  font-size: 2rem;
  color: black;
}

#ubicacion {
  /*border: 2px solid white;*/
}
/*.tab-content {
  background-color: white;
}*/

/*END: Tabs apartamentos*/

/* 360 */

.esquina {
  height: 80%;
  width: 80%;
}

.pane-container {
  /*height: 100vh;*/
}

